<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Boolzap</title>
</head>

<body>
    <div class="container" id="app">
        <div class="background_footer background_green  "></div>
        <main class="main">
            <div class="menu">
                <div class="menu_user upper_gray">
                    <div class="menu_user_info">
                        <div class="menu_user_picture">
                            <img class="profile_picture" src="img/avatar_io.jpg">
                        </div>
                        <div class="menu_user_info_name">
                            Gerardo
                        </div>
                    </div>   
                    <div class="menu_user_buttons">
                        <div class="menu_user_buttons_reload icon"><i class="fa-solid fa-rotate-right"></i></div>
                        <div class="menu_user_buttons_text icon"><i class="fa-solid fa-message"></i></div>
                        <div class="menu_user_buttons_menu icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>

                </div>

                <div class="notifications_menu notification_blue">
                    <div class="notifications_menu_bell">
                        <i class="fa-solid fa-bell-slash bell_icon"></i>
                    </div>
                    <div class="notifications_menu_text">
                        Ricevi notifiche di nuovi messaggi 
                        <div class="notifications_menu_text_click">
                            Attiva notifiche desktop
                        </div>
                    </div>
                </div>
                <div class="searchbar_menu searchbar_gray">
                    <div class="searchbar_menu_inner">
                        <div class="searchbar_menu_inner_logo"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="searchbar_menu_inner_search" id="menuSearch">
                    
                    </div>
                </div>
                <div class="contact_menu">
                    <div @click="selectContact(indiceContatto)" v-for="(contatto , indiceContatto) in contacts" class="contact" :class="contactSelected === indiceContatto ? contactSelectedClass : contactNotSelectedClass ">
                        <div class="contact_picture">
                            <img class="profile_picture" :src="contatto.avatar">
                        </div>
                        <div class="contact_info">
                            <div class="contact_info_name">
                                {{contatto.name}}
                            </div>
                        </div>
                    </div>


                    <!-- <div class="contact">
                        <div class="contact_picture">
                            <img class="profile_picture" src="img/avatar_1.jpg">
                        </div>
                        <div class=" contact_info">
                            <div class="contact_info_name">
                                Michele
                            </div>
                            <div class="contact_info_lastmessage">
                                Ultimo messaggio inviato
                                <div class="contact_info_lastmessage_time">
                                    12:10
                                </div>
                            </div>
                        </div>
                    </div>   -->
                         
                </div>
            </div>
            <div class="chat">
                <div class="chat_menu upper_gray">
                    <div class="chat_menu_contact">
                        <div class="chat_menu_info_picture">
                            <img class="profile_picture" :src="contacts[0].avatar">
                        </div>
                        <div class="chat_menu_info_data">
                            <div class="chat_menu_info_data_name">
                                {{ contacts[0].name }}
                                {{contactSelected}}
                                
                            </div>
                            <div class="chat_menu_info_data_access">
                                Ultimo accesso oggi alle 12:10
                            </div>
                        </div>
                    </div>
                    <div class="chat_menu_buttons">
                        <div class="chat_menu_buttons_search icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div class="chat_menu_buttons_link icon"><i class="fa-solid fa-link"></i></div>
                        <div class="chat_menu_buttons_menu icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    </div>
                </div>
                <div class="chat_inner">
                    <div v-for="(messaggio , indiceMessaggio) in contacts[0].messages" :class="contacts[0].messages[indiceMessaggio].status == `sent` ? messageUser : messageBot">
                        {{ contacts[0].messages[indiceMessaggio].message }}
                
                        <div class="message_time">
                            {{ contacts[0].messages[indiceMessaggio].date }}
                        </div>
                    </div>

<!--                     <div class="message_user">
                        Ciao
                        <div class="message_time">
                            12:34
                        </div>
                    </div>
                    <div class="message_bot">
                        Ciao anche a te
                        <div class="message_time">
                            12:34
                        </div>
                    </div>
                    <div class="message_bot">
                        Ciao anche a te
                        <div class="message_time">
                            12:34
                        </div>
                    </div>
                    <div class="message_user">
                        Ciao anche a te
                        <div class="message_time">
                            12:34
                        </div>
                    </div> -->

                </div>
                <div class="chat_input upper_gray">
                    <div class="chat_input_emoji icon"><i class="fa-regular fa-face-smile"></i></div>
                    <input v-model="inputText" type="text" placeholder="Scrivi un messaggio" class="chat_input_text"id="chatText">
                    <div  @click="sendMessage" class="chat_input_voice icon"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>

            
        </main>


















    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>

</html>